benchmark/mapreduce/osm/containment/testdir/
benchmark/mapreduce/osm/join/mapper
benchmark/mapreduce/osm/join/testdir/spatialindex.tar.bz2
benchmark/mapreduce/osm/join/testdir/spatialindex/
boundary/dedup.res
boundary/example.cpp
boundary/fusheng.in.txt
boundary/gbm2.2.fact2.out.1
boundary/gbm2.2.fact2.out.2
boundary/gbm2.2.markup.ablet.1
boundary/gbm2.2.markup.ablet.2
boundary/gbm2.2.tar.bz2
boundary/hoang.out.txt
boundary/hoangstat.log
boundary/mappera
boundary/mapreduce/avger.py
boundary/mapreduce/bound.log
boundary/mapreduce/doundary.csv
boundary/mapreduce/dup.log
boundary/reduce.in.1
boundary/reduce.in.2
boundary/reduce.out
boundary/reduce.out.sorted
boundary/reducera
boundary/reducerb
boundary/regen
boundary/sort.out
boundary/temp.txt
osm/partition/TreePartition/Makefile
osm/partition/TreePartition/genPartitionRegionFromIndex
osm/partition/TreePartition/partitioner
osm/partition/preprocess
osm/partition/rebucketeurope/osm_polygon_europe.snapshot.txt
osm/partition/rebucketeurope/rebucketmyeurope
osm/partition/rquery
osm/partition/rtreeloader
osm/partition/stderr.txt
osm/partition/stdout.txt
partition/fixedgrid/cmdline_mapper.c
partition/fixedgrid/cmdline_mapper.h
partition/fixedgrid/cmdline_mapper.o
partition/fixedgrid/err.txt
partition/fixedgrid/gbm0.1.markup
partition/fixedgrid/mapper
partition/fixedgrid/shit
partition/fixedgrid/temp.txt
partition/fixedgrid/tmp.txt
partition/rtree/genPartitionFromIndex
partition/rtree/genPartitionRegionFromIndex
partition/rtree/genPlotFromIndex
partition/rtree/genRtreeIndex
partition/rtree/osm/genmbb
partition/rtree/osm/index/
partition/rtree/osm/osm.mbb.dat
partition/rtree/osm/osm.mbb.dat.tar.gz
partition/rtree/osm/temp.txt
partition/rtree/pais/gbm.mbb.txt
partition/rtree/pais/gbm0.1.markup.ablet.1
partition/rtree/pais/genmbb
partition/rtree/pais/index/
partition/rtree/pais/normal.2.markup.ablet.1
partition/rtree/pais/normal.2.markup.ablet.1.idxmbb.gnu
partition/rtree/pais/normal.2.markup.ablet.1.part
partition/rtree/pais/normal.2.markup.ablet.1.regionmbb.txt
partition/rtree/pais/normal.mbb.txt
partition/rtree/pais/partition.gnuplot.txt
partition/rtree/pais/partition.mbb.txt
partition/rtree/stderr.txt
partition/rtree/stdout.txt
partition/rtree/temp.txt
xxl/.project
xxl/.settings/
xxl/data/
xxl/usecases/core_usecases/.classpath
xxl/usecases/core_usecases/.project
xxl/usecases/core_usecases/.settings/
xxl/xxlcore/.classpath
xxl/xxlcore/.project
xxl/xxlcore/.settings/
xxl/xxlcore/target/
xxl/xxlcore/testVLBTree_dupl_false.ctr
xxl/xxlcore/testVLBTree_dupl_false.flt
xxl/xxlcore/testVLBTree_dupl_false.mtd
xxl/xxlcore/testVLBTree_dupl_false.rbm
xxl/xxlcore/testVLBTree_dupl_false.ubm
xxl/xxlcore/testVLBTree_dupl_false_metadata.dat
*.jar
utility/dostuff.sh*
*.log
*.csv
*.txt
*.mr
*.err
*.out
*.dat
*.bz2
*.gz
*.png
